<%= f.error_messages :message => nil, :header_message => nil %>

<div class="big-form">
  <p>
    <%= f.label :command %><br/>
    <%= f.text_field :command, :class => "console rounded_4" %>
  </p>

  <p>
    <%= f.label :name %><br/>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :expected_result %><br/>
    <%= f.text_field :expected_result %>
  </p>

  <table>
    <tr>
      <td>
        <%= f.label :when %><br/>
        <%= f.text_field :when, :style => "width:515px" %>
      </td>
      <td>
        <%= f.label :timeout %><br/>
        <%= f.text_field :timeout, :style => "width:70px" %>
      </td>
    </tr>
  </table>
</div>