<h2>Services</h2>

<p><%= link_to "Add service", new_panel_service_path(@panel) %></p>

<table>
  <% for service in @services %>
    <tr data-id="<%= service.id %>">
      <td><%= link_to service.name, edit_panel_service_path(@panel, service) %></td>
      <td><%= service.command %></td>
      <td><%= service.expected_result %></td>
      <td><%= service.when %></td>
    </tr>
  <% end %>
</table>

<script language="javascript">

  $(".execute-button").click(function(){
    var id = $(this).closest("tr").attr("data-id");
    $.post("/services/" + id + "/executions", function(data){
      alert(data);
    })
  });

</script>
