<h2>Services</h2>

<table>
  <% for service in @services %>
    <tr data-id="<%= service.id %>">
      <td><%= link_to service.description, edit_service_path(service) %></td>
      <td><%= service.command %></td>
      <td><%= service.expected_result %></td>
      <td><%= service.periodicity %></td>
      <td><input type="button" class="execute-button" value="Execute"/></td>
    </tr>
  <% end %>
</table>
<%= link_to "Adicionar serviço", new_service_path %>

<script language="javascript">

  $(".execute-button").click(function(){
    var id = $(this).closest("tr").attr("data-id");
    $.post("/services/" + id + "/executions", function(data){
      alert(data);
    })
  });

</script>
