<%= breadcrumb :panels, "New" %>

<%= form_for @panel do |f| %>
  <div class="big-form">
    <p>
      <%= f.label :name %><br/>
      <%= f.text_field :name %>
    </p>
    <%= f.submit %>
  </div>
<% end %>
