<%= breadcrumb :panels, @panel.name %>

<h2><%= @panel.name %></h2>

<%= link_to "Edit services", panel_services_path(@panel) %>

<table>
  <% for service in @services %>
    <tr data-id="<%= service.id %>">
      <td><%= service.name %></td>
      <td>
        <% for execution in service.executions%>
          <%= execution.result %>
        <% end %>
      </td>
      <td><input type="button" class="execute-button" value="Execute"/></td>
    </tr>
  <% end %>
</table>

<script language="javascript">

  $(".execute-button").click(function(){
    var id = $(this).closest("tr").attr("data-id");
    $.post("/services/" + id + "/executions", function(data){
//      alert(data);
    })
  });
  
  $(function() {
    updateExecutions();
  });

  function updateExecutions() {  
    $.getJSON("/panels/<%= @panel.id %>", function(data) {
      // alert(data);
    });    
    setTimeout(updateExecutions, 3000);  
  }

</script>
