<%= breadcrumb :panels, @panel.name %>

<h2><%= @panel.name %></h2>

<%= link_to "Edit services", panel_services_path(@panel) %>

<table class="services">
  <% for service in @services %>
    <tr data-id="<%= service.id %>">
      <td><%= service.name %></td>
      <td class="service-<%= service.id %>-executions">
        <% for execution in service.executions%>
          <%= link_to execution.result, execution_path(execution), :class => execution.result %>
        <% end %>
      </td>
      <td><input type="button" class="execute-button" value="Execute"/></td>
    </tr>
  <% end %>
</table>

<script language="javascript">

  $(".execute-button").click(function(){
    var id = $(this).closest("tr").attr("data-id");
    $.post("/services/" + id + "/executions", function(data){
     // alert(data);
    })
  });

  $(function() {
    setTimeout(updateExecutions, 3000);
  });

  function updateExecutions() {  
    $.getJSON("/panels/<%= @panel.id %>", function(data) {
      $.each(data, function(serviceId, service_array) {
        var service = $(".service-" + serviceId + "-executions");
        $(service).empty();
        $.each(service_array, function(index, pair) {
          var id = pair[0];
          var result = pair[1];
          $(service).append("<a href='/services/" + id + "' class='" + result + "'>" + result + "</a> ");
        });
      })
    });    
    setTimeout(updateExecutions, 3000);
  }

</script>
